.scale-up{
    animation-name: scale-up;
    animation-timing-function: cubic-bezier(0,0,0.8,0.9);
    animation-duration: 300ms;
}
@keyframes scale-up-animate {
    0% {
        left: 10px;
        top : 10px;
        width : 100px;
        height : 200px;
    }
    100% {
        left : 10px;
        top : 20px;
        width : 300px;
        height : 400px;
    }
}

