body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}
* {
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html,body,#root{
  padding: 0;
  margin : 0;
  height: 100%;
  overflow: auto;
}

.input{
  width: 100%;
  border : 1px solid #ccc;
  border-radius: 1rem;
  padding : 0.5rem;
  transition: all 200ms ease-in-out;
  text-transform: capitalize;
}
.input:focus{
  outline: none;
  border: 1px solid cadetblue;
  background-color: rgba(0,0,0,0.01);
}
